{% extends "raidikalu/base.html" %}
{% load l10n static %}

{% block html_tag_extra %} class="no-js"{% endblock %}

{% block head_extra %}
    <style>
      body {
        display: none;
      }
      .no-js body,
      .js-loaded body {
        display: block;
      }
    </style>
    <style>
      {% for raid_type in editable_settings.raid_types %}
      .pfc[value="{{ raid_type.pokemon }}"]:checked ~ .raid[data-pokemon="{{ raid_type.pokemon }}"] { display: block; }{% endfor %}
    </style>
    <script>document.documentElement.classList.remove('no-js');</script>
{% endblock %}


{% block main_content %}
    <input id="clipboard-input" class="clipboard-input" tabindex="-1" />

    <div class="new-raid-link-container">
      <a href="{% url 'raidikalu.raid_create' %}" title="Ilmoita raidi" class="new-raid-link">
        <span class="new-raid-link-label">&lt;&mdash; Ilmoita raidi</span>
      </a>
    </div>
    <a href="/" class="refresh-button">
      <i class="fa fa-refresh"></i>
    </a>
    <input class="form-control trainer-nickname-input" value="{{ request.session.nickname }}" placeholder="Nimimerkki, jos haluat erottua" />
    <button class="btn trainer-nickname-btn">OK</button>
    <p>Nää monnit kiinnostais</p>
    {% for raid_type in editable_settings.raid_types %}
    <input id="pf{{ forloop.counter }}" class="pfc" data-tier="{{ raid_type.tier }}" type="checkbox" value="{{ raid_type.pokemon }}" checked /><label for="pf{{ forloop.counter }}" class="pft{{ raid_type.tier }} pfl">{{ raid_type.pokemon }}</label>{% endfor %}
    <div class="filter-buttons">
      <button class="btn js-filter-all">Kaikki käy</button>
      <button class="btn js-filter-none">Ei mikään</button>
    </div>

    {% regroup raids|dictsortreversed:"has_started" by has_started as raids_by_status %}

    {% if raids %}
    {% for grouped_raids in raids_by_status %}
    {% if grouped_raids.grouper %}
    <p>Menossa</p>
    {% else %}
    <p>Tulossa</p>
    {% endif %}
    {% for raid in grouped_raids.list %}
    <div class="raid" data-pokemon="{{ raid.pokemon_name|default:'unknown' }}" data-tier="{{ raid.tier|default:'' }}" data-id="{{ raid.pk }}" data-gym="{{ raid.gym.name|addslashes }}">
      <a name="raidi-{{ raid.pk }}" class="raid-anchor"></a>
      <input id="raid-toggle-{{ raid.pk }}" class="raid-toggle styled-checkable-input" type="checkbox" />
      <div class="raid-main">
        <label for="raid-toggle-{{ raid.pk }}">
          <div class="raid-icon" style="background-image: url({{ raid.gym.image_url }});"></div>
          <div class="raid-pokemon-icon" style="background-image: url({{ raid.get_pokemon_image_url }});"></div>
          <div class="raid-tier">{{ raid.get_tier_display }}</div>
          <div class="raid-pokemon">
            <span>{{ raid.pokemon_name|default:"? ? ?" }}</span>
          </div>
          <div class="raid-time">
            {% if raid.has_started %}
            <span>Päättyy&nbsp;<strong>{{ raid.end_at|date:"H:i" }}</strong>, jäljellä&nbsp;<strong class="raid-time-left" data-time="{{ raid.end_at.timestamp }}">{{ raid.get_time_left_until_end_display }}</strong></span>
            {% elif raid.start_at %}
            <span>Alkaa&nbsp;<strong>{{ raid.start_at|date:"H:i" }}</strong>, alkuun&nbsp;<strong class="raid-time-left" data-time="{{ raid.start_at.timestamp }}">{{ raid.get_time_left_until_start_display }}</strong></span>
            {% else %}
            <span>Kellonaika puuttuu</span>
            {% endif %}
            {% if raid.attendance_count > 0 %}
            <span>, raidaajia&nbsp;<strong>{{ raid.attendance_count }}</strong></span>
            {% endif %}
          </div>
          <div class="raid-name">{{ raid.gym.name }}</div>
        </label>
        <a class="raid-map-link" href="https://gymhuntr.com/#{{ raid.gym.latitude|unlocalize }},{{ raid.gym.longitude|unlocalize }}" target="_blank" rel="noreferrer"><i class="fa fa-map-marker"></i></a>
        <a class="raid-directions-link" href="https://www.google.com/maps/dir/Current+Location/{{ raid.gym.latitude|unlocalize }},{{ raid.gym.longitude|unlocalize }}" target="_blank"><i class="fa fa-car"></i></a>
      </div>
      <div class="raid-extra">
        <div class="raid-details">
          {% if raid.fast_move %}
          <div class="raid-detail">Liikkeet: <strong>{{ raid.fast_move|default:"- - -" }} / {{ raid.charge_move|default:"- - -" }}</strong></div>
          {% endif %}
          {% if raid.submitter %}
          <div class="raid-detail">Ilmoittaja: <strong>{{ raid.submitter }}</strong></div>
          {% endif %}
          {% if raid.gym.is_park %}
          <div class="raid-detail">Puisto: <strong>todennäköisesti</strong></div>
          {% endif %}
          {% if raid.gym.latest_ex_raid_at and raid.gym.latest_ex_raid_at > now %}
          <div class="raid-detail">Seuraava EX-raidi: <strong>{{ raid.gym.get_latest_ex_raid_display }}</strong></div>
          {% elif raid.gym.latest_ex_raid_at and raid.gym.latest_ex_raid_at <= now %}
          <div class="raid-detail">Edellinen EX-raidi: <strong>{{ raid.gym.get_latest_ex_raid_display }}</strong></div>
          {% endif %}
        </div>
        {% if raid.start_at %}
        <div class="raider-attendance-choices" data-raid-id="{{ raid.pk }}">
          <div>Haluun raidata klo</div>
          {% for start_time in raid.start_times_with_attendances %}
          <input id="rac-{{ raid.pk }}-{{ forloop.counter0 }}" class="raid-attendance-choice styled-checkable-input" type="radio" name="rac-{{ raid.pk }}" value="{{ forloop.counter0 }}"{% if raid.own_start_time_choice == forloop.counter0 %} checked{% endif %} />
          <label for="rac-{{ raid.pk }}-{{ forloop.counter0 }}" class="btn">{{ start_time.time|date:"H:i" }} (<span class="rac-{{ forloop.counter0 }}-count">{{ start_time.attendances|length }}</span>)</label>
          {% endfor %}
          <input id="rac-{{ raid.pk }}-cancel" class="styled-checkable-input raid-attandance-cancel" type="radio" name="rac-{{ raid.pk }}" value="cancel"{% if raid.own_start_time_choice == None %} checked{% endif %} />
          <label for="rac-{{ raid.pk }}-cancel" class="btn">Enpäs raidaakaan!</label>
        </div>
        {% for start_time in raid.start_times_with_attendances %}
        {% if start_time.attendances %}
        <div class="raid-attendees">
          <div class="raid-attendee"><strong>{{ start_time.time|date:"H:i" }}</strong></div>
          {% for attendance in start_time.attendances %}
          <div class="raid-attendee">- {{ attendance.submitter }}</div>
          {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="sharing-links">
          <span>Linkkaa </span>
          <a href="whatsapp://send?text={% filter urlencode:'' %}{{ BASE_URL }}#raidi-{{ raid.pk }} {% endfilter %}" target="_blank">WhatsAppiin</a>
          <span>, </span>
          <a href="tg://msg_url?url={% filter urlencode:'' %}{{ BASE_URL }}#raidi-{{ raid.pk }} {% endfilter %}" target="_blank">Telegramiin</a>
          <span> tai kopioi </span>
          <a href="{% filter addslashes %}{{ BASE_URL }}#raidi-{{ raid.pk }}{% endfilter %}">linkki</a>
          <span>.</span>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
    {% else %}
    {% if editable_settings.additional_information %}
    <p>Ei yhtäkään raidia, mutta nyt on hyvä aika tsekata mitä alalaidasta löytyy.</p>
    {% else %}
    <p>Ei yhtäkään raidia</p>
    {% endif %}
    {% endif %}

    {% if editable_settings.additional_information %}
    <div class="additional-information">
      {{ editable_settings.additional_information|safe }}
    </div>
    {% endif %}

    <script>
      var CSRFTOKEN = '{{ csrf_token|addslashes }}';
      var NICKNAME = '{{ request_nickname }}';
    </script>
    <script>
      (function persistPokemonFilters() {

        if ( ! window.localStorage) {
          return;
        }

        var selectedPokemonData = localStorage.getItem('selected-pokemon-v{{ editable_settings.pk }}') || '[{% for raid_type in editable_settings.raid_types %}"{{ raid_type.pokemon }}"{% if not forloop.last %},{% endif %}{% endfor %}]';
        var selectedPokemon = JSON.parse(selectedPokemonData) || [];

        Array.prototype.slice.call(document.querySelectorAll('.pfc')).forEach(initFilters);
        document.addEventListener('change', handlePokemonFilterChange);

        document.documentElement.classList.add('js-loaded');

        function initFilters(filterCheckbox) {

          var pokemon = filterCheckbox.value;
          if (selectedPokemon.indexOf(pokemon) === -1) {
            filterCheckbox.checked = false;
          }

        }

        function handlePokemonFilterChange(event) {
          persistFilter(event.target);
        }

        function persistFilter(checkbox) {

          var pokemon;
          var indexOfPokemon;

          if ( ! checkbox.classList.contains('pfc')) {
            return;
          }

          pokemon = checkbox.value;
          indexOfPokemon = selectedPokemon.indexOf(pokemon);

          if (checkbox.checked && indexOfPokemon === -1) {
            selectedPokemon.push(pokemon);
            localStorage.setItem('selected-pokemon-v{{ editable_settings.pk }}', JSON.stringify(selectedPokemon));
          }
          if ( ! checkbox.checked && indexOfPokemon !== -1) {
            selectedPokemon.splice(indexOfPokemon, 1);
            localStorage.setItem('selected-pokemon-v{{ editable_settings.pk }}', JSON.stringify(selectedPokemon));
          }

        }

        var allButton = document.querySelector('.js-filter-all');
        var noneButton = document.querySelector('.js-filter-none');
        var filterCheckboxes = Array.prototype.slice.call(document.querySelectorAll('.pfc'));

        allButton.addEventListener('click', function setFilterAll() {
          filterCheckboxes.forEach(function check(checkbox) {
            checkbox.checked = true;
            persistFilter(checkbox);
          });
        });

        noneButton.addEventListener('click', function setFilterNone() {
          filterCheckboxes.forEach(function uncheck(checkbox) {
            checkbox.checked = false;
            persistFilter(checkbox);
          });
        });

      })();
    </script>
    <script>
      document.documentElement.classList.add('js-loaded');
    </script>
    <script src="{% static 'raidikalu/js/raid-list.js' %}" defer></script>
    <script src="{% static 'raidikalu/js/reconnecting-websocket.min.js' %}" defer onload="initMessageListeners()"></script>
{% endblock %}
