{% extends "raidikalu/base.html" %}
{% load i18n %}

{% block main_content %}
    <form action="" method="post">
      {% csrf_token %}
      <h1>{% trans "Submit raid" %}</h1>
      <input id="gym-choice-radio-0" class="gym-choice-radio gym-choice-none styled-checkable-input" type="radio" name="gym" value="" checked />

      <input class="form-control gym-search-filter" placeholder="{% trans 'Gym name' %}" autofocus />

      <div class="gym-choices">
        {% for gym in gyms %}
        <input id="gym-choice-radio-{{ forloop.counter }}" class="gym-choice-radio styled-checkable-input" type="radio" name="gym" value="{{ gym.pk }}">
        <label for="gym-choice-radio-{{ forloop.counter }}" class="gym-choice" data-gym-name="{{ gym.name|lower|addslashes }}" style="display: none;">
          <div class="gym-image" style="background-image: url({{ gym.image_url }});">
            <div class="gym-image-mask"></div>
          </div>
          <div class="gym-name">
            {{ gym.name }}
          </div>
        </label>
        {% endfor %}
      </div>

      <div class="raid-form">
        <label for="gym-choice-radio-0" class="btn gym-choice-none-label">{% trans "Change gym" %}</label>
        <hr />
        <input id="raid-time-field-type-1" class="styled-checkable-input" type="radio" name="raid-time-field-type" value="start" checked />
        <input id="raid-time-field-type-2" class="styled-checkable-input" type="radio" name="raid-time-field-type" value="end" />
        <input id="raid-time-value-type-1" class="styled-checkable-input" type="radio" name="raid-time-value-type" value="absolute" checked />
        <input id="raid-time-value-type-2" class="styled-checkable-input" type="radio" name="raid-time-value-type" value="relative" />
        <div>
          <label for="raid-time-field-type-1" class="btn raid-time-btn">{% trans "Starting time" %}</label>
          <label for="raid-time-field-type-2" class="btn raid-time-btn">{% trans "Ending time" %}</label>
        </div>
        <div>
          <label for="raid-time-value-type-1" class="btn raid-time-btn">{% trans "As 24h time" %}</label>
          <label for="raid-time-value-type-2" class="btn raid-time-btn">{% trans "As minutes" %}</label>
        </div>
        <div>
          <label for="raid-time-field" class="raid-time-input-label">
            <span>{% trans "#raid-submission-time-label-raid" %}&nbsp;</span>
            <span class="raid-time-label-field-type-1">{% trans "#raid-submission-time-label-starts" %}&nbsp;</span>
            <span class="raid-time-label-field-type-2">{% trans "#raid-submission-time-label-ends" %}&nbsp;</span>
            <span class="raid-time-label-value-type-1">{% trans "#raid-submission-time-label-at" %}&nbsp;</span>
            <span class="raid-time-label-value-type-2">{% trans "#raid-submission-time-label-in" %}&nbsp;</span>
          </label>
          <input id="raid-time-field" class="form-control raid-time-field" name="raid-time" />
          <label for="raid-time-field" class="raid-time-input-label">
            <span class="raid-time-label-value-type-2">&nbsp;{% trans "#raid-submission-time-label-minutes" %}</span>
          </label>
        </div>
        <hr />
        <input class="styled-checkable-input" type="radio" name="raid-boss" value="" checked />
        <div class="">
          <input id="raid-boss-input-checkbox-tier-5" class="styled-checkable-input" type="radio" name="raid-boss" value="tier-5" />
          <label for="raid-boss-input-checkbox-tier-5" class="raid-boss-input-label raid-boss-input-label-tier-5"></label>
          {# Tier 4: mega tier #}
          <input id="raid-boss-input-checkbox-tier-4" class="styled-checkable-input" type="radio" name="raid-boss" value="tier-4" />
          <label for="raid-boss-input-checkbox-tier-4" class="raid-boss-input-label raid-boss-input-label-tier-4"></label>
          <input id="raid-boss-input-checkbox-tier-3" class="styled-checkable-input" type="radio" name="raid-boss" value="tier-3" />
          <label for="raid-boss-input-checkbox-tier-3" class="raid-boss-input-label raid-boss-input-label-tier-3"></label>
          <input id="raid-boss-input-checkbox-tier-1" class="styled-checkable-input" type="radio" name="raid-boss" value="tier-1" />
          <label for="raid-boss-input-checkbox-tier-1" class="raid-boss-input-label raid-boss-input-label-tier-1"></label>
        </div>
        {% regroup raid_types|dictsortreversed:"tier" by tier as raid_types_by_tier %}
        {% for grouped_raid_types in raid_types_by_tier %}
        <div class="raid-boss-input-tier-group">
          {% for raid_type in grouped_raid_types.list %}
          <input id="raid-boss-input-checkbox-{{ raid_type.pk }}" class="styled-checkable-input" type="radio" name="raid-boss" value="{{ raid_type.monster_name|addslashes }}" />
          <label for="raid-boss-input-checkbox-{{ raid_type.pk }}" class="raid-boss-input-label" style="background-image: url({{ raid_type.get_image_url }});"></label>{% endfor %}
        </div>
        {% endfor %}
        <hr />
        <button type="submit" class="btn raid-form-submit">{% trans "Submit raid" %}</button>
        <hr />
      </div>
    </form>

    <script>
      (function () {

        var gymChoiceElements = document.querySelectorAll('.gym-choice');
        var debouncedFilterGymChoices = throttle(filterGymChoices, 200);

        var visibleGyms = [];
        var navigatedGym = undefined;

        var gymSearchFilterElement = document.querySelector('.gym-search-filter');
        gymSearchFilterElement.addEventListener('input', handleSearchInput);
        gymSearchFilterElement.addEventListener('keydown', handleSearchKeyDown);
        document.addEventListener('keydown', handleNavigationKeyDown);

        document.querySelectorAll('.gym-choice-radio').forEach(function (radio) {
          radio.addEventListener('change', function() {
            gymSelected();
          });
        });
        document.getElementById('gym-choice-radio-0').addEventListener('change', function() {
          gymSearchFilterElement.focus();
        });

        function handleSearchInput(event) {

          var query = event.target.value.toLowerCase();

          if (query.length < 3) {
            return;
          }

          debouncedFilterGymChoices(query);

        }

        function filterGymChoices(query) {

          var length = gymChoiceElements.length;
          var gymChoiceElement;
          var i;

          visibleGyms = [];
          navigatedGym = undefined;

          for (i = 0; i < length; i++) {
            gymChoiceElement = gymChoiceElements[i];
            if ( ! gymChoiceElement.dataGymName) {
              gymChoiceElement.dataGymName = gymChoiceElement.getAttribute('data-gym-name');
            }
            if (gymChoiceElement.dataGymName.indexOf(query) !== -1) {
              gymChoiceElement.style.display = '';
              visibleGyms.push(gymChoiceElement);
            }
            else {
              gymChoiceElement.style.display = 'none';
            }
          }

          if (visibleGyms.length === 1) {
              select(0)
          }
        }

        function gymSelected() {
          deSelect(navigatedGym);
          navigatedGym = undefined;

          var input = document.getElementById('raid-time-field');
          input.focus();
        }

        function deSelect(index) {
          if (index !== undefined) {
            visibleGyms[index].classList.remove('selected-gym')
          }
        }

        function select(index) {
          navigatedGym = index;
          if (index !== undefined) {
            visibleGyms[index].classList.add('selected-gym')
          }
        }

        function handleSearchKeyDown(event) {
          if (event.keyCode === 13) { // Enter
            event.preventDefault();
          }
          else if (event.keyCode === 40) { // Down
            event.preventDefault();
            if (navigatedGym === undefined && visibleGyms.length > 0) {
              select(0)
            }
            if (navigatedGym !== undefined) {
              gymSearchFilterElement.blur();
            }
          }
        }
        function handleNavigationKeyDown(event) {
          if (event.keyCode === 13) { // Enter
            if (navigatedGym !== undefined) {
              event.preventDefault();
              var input = document.getElementById(visibleGyms[navigatedGym].htmlFor);
              input.checked = true;
              gymSelected();
            }
          }
          else if (event.keyCode === 38) { // Up
            if (navigatedGym !== undefined) {
              event.preventDefault();
              deSelect(navigatedGym)
              select(undefined);
              var textSize = gymSearchFilterElement.value.length;
              if (gymSearchFilterElement.setSelectionRange) {
                gymSearchFilterElement.focus();
                gymSearchFilterElement.setSelectionRange(textSize, textSize);
                setTimeout(function() {
                  gymSearchFilterElement.setSelectionRange(textSize, textSize);
                }, 0);
              } else if (gymSearchFilterElement.createTextRange) {
                var range = gymSearchFilterElement.createTextRange()
                range.collapse(true);
                range.moveEnd('character', textSize);
                range.moveStart('character', textSize);
                range.select(true);
              }
            }
          }
          else if (event.keyCode === 40) { // Down
            if (navigatedGym !== undefined) {
              event.preventDefault();
            };
          }
          else if (event.keyCode === 37) { // Left
            if (navigatedGym !== undefined && navigatedGym > 0) {
              event.preventDefault();
              deSelect(navigatedGym)
              select(navigatedGym - 1)
            }
          }
          else if (event.keyCode === 39) { // Right
            if (navigatedGym !== undefined && (navigatedGym + 1) < visibleGyms.length) {
              event.preventDefault();
              deSelect(navigatedGym)
              select(navigatedGym + 1)
            }
          }
        }

        function throttle(fn, threshold, scope) {
          var last;
          var deferTimer;
          return function throttled() {
            var context = scope || this;
            var now = +new Date;
            var args = arguments;
            if (last && now < last + threshold) {
              clearTimeout(deferTimer);
              deferTimer = setTimeout(function callLater() {
                last = now;
                fn.apply(context, args);
              }, threshold);
            }
            else {
              last = now;
              fn.apply(context, args);
            }
          };
        }

      })();
    </script>
{% endblock %}
