html, body {
  font-family: Verdana, sans-serif;
  color: #333;
  background: #f9f9f9;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
body {
  padding-bottom: 70vh;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}
a {
  color: #7E57C2;
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  border: 0;
  border-radius: 20px;
  font: inherit;
  font-size: 12px;
  color: #fff;
  background: #7E57C2;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}
hr {
  width: 33%;
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 50px auto;
}
.pfc,
.styled-checkable-input,
.clipboard-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.main-container {
  position: relative;
  padding: 10px;
}
.new-raid-link-container {
  position: absolute;
  left: 100%;
  margin-left: 30px;
}
.new-raid-link {
  display: block;
  position: fixed;
  top: 60px;
  width: 128px;
  height: 128px;
  font-size: 36px;
  text-decoration: none;
  color: #ccc;
  background-color: #7E57C2;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  outline: none;
}
.new-raid-link:visited {
  color: #f9f9f9;
}
.refresh-button {
  display: none;
  position: fixed;
  right: 108px;
  bottom: 25px;
  width: 48px;
  height: 48px;
  font-size: 18px;
  line-height: 40px;
  vertical-align: top;
  color: #fff;
  background-color: #7E57C2;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  outline: none;
  cursor: pointer;
  z-index: 2;
}
@media (max-width: 959px) {
  .main-container,
  .new-raid-link-container {
    position: static;
  }
  .new-raid-link {
    font-size: 24px;
    right: 30px;
    width: 64px;
    height: 64px;
  }
}
@media (max-width: 809px) {
  .new-raid-link {
    position: fixed;
    top: auto;
    right: 25px;
    bottom: 25px;
    z-index: 2;
  }
  .new-raid-link-label {
    display: none;
  }
  .refresh-button {
    display: block;
  }
}
.new-raid-link:focus {
  background-color: #9575CD;
}
.new-raid-link:before,
.new-raid-link:after {
  content: "";
  position: absolute;
  outline: 1px solid #fff;
  margin: auto;
}
.new-raid-link:before {
  top: 50%;
  left: 0;
  right: 0;
  width: 25%;
  height: 0;
}
.new-raid-link:after {
  top: 0;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 25%;
}
.new-raid-link-label {
  position: absolute;
  top: -50%;
  left: 0;
  width: auto;
  height: 100%;
  padding: 0 0 0 80%;
  white-space: nowrap;
  transform-origin: 0 100%;
  transform: rotate(90deg);
}
.new-raid-link-label:before {
  content:"";
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.trainer-nickname-btn {
  position: relative;
  display: none;
  float: right;
  margin: 3px 0 0 -40px;
  z-index: 2;
}
.trainer-nickname-input:focus + .trainer-nickname-btn {
  display: block;
}
.form-control {
  width: 100%;
  color: inherit;
  font-size: 24px;
  border: 0;
  border-bottom: 2px solid #ddd;
  padding: 1px 1px 3px 1px;
  background: transparent;
}
.form-control:focus {
  outline: none;
  border-bottom-color: #aaa;
}
.form-control::-webkit-input-placeholder { color: #aaa; /* Chrome/Opera/Safari */ }
.form-control::-moz-placeholder { color: #aaa; /* Firefox 19+ */ }
.form-control:-moz-placeholder { color: #aaa; /* Firefox 18- */ }
.form-control:-ms-input-placeholder { color: #aaa; /* IE 10+ */ }
.filter-buttons .btn {
  margin: 5px 5px 5px 0;
}
.pfc[data-tier="1"]:checked ~ .raid[data-tier="1"][data-pokemon="unknown"] { display: block; }
.pfc[data-tier="2"]:checked ~ .raid[data-tier="2"][data-pokemon="unknown"] { display: block; }
.pfc[data-tier="3"]:checked ~ .raid[data-tier="3"][data-pokemon="unknown"] { display: block; }
.pfc[data-tier="4"]:checked ~ .raid[data-tier="4"][data-pokemon="unknown"] { display: block; }
.pfc[data-tier="5"]:checked ~ .raid[data-tier="5"][data-pokemon="unknown"] { display: block; }
.raid[data-tier=""] { display: block; }
.pfl {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: #333;
  background: #eee;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.pfl:after {
  content: ": ei";
  display: inline-block;
  width: 25px;
}
.pfc:checked + .pfl:after {
  content: ": joo";
}
.pfc:checked + .pfl {
  color: #fff;
}
.pfc:checked + .pfl.pft5 {
  background-color: #7E57C2;
}
.pfc:checked + .pfl.pft4 {
  background-color: #EF5350;
}
.pfc:checked + .pfl.pft3 {
  background-color: #FFA726;
}
.pfc:checked + .pfl.pft2 {
  background-color: #9CCC65;
}
.pfc:checked + .pfl.pft1 {
  background-color: #42A5F5;
}
.raid {
  display: none;
  position: relative;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  background: #fff;
  margin-bottom: 10px;
}
.raid-anchor {
  position: absolute;
  width: 0;
  height: 0;
  top: -5px;
}
.raid-main {
  position: relative;
  padding: 10px 50px 10px 80px;
  min-height: 105px;
}
.raid-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 1px #000;
}
.raid-pokemon-icon {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 12px;
  left: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
.raid-tier {
  position: absolute;
  top: 65px;
  left: 15px;
  width: 50px;
  text-align: center;
  font-size: 12px;
}
.raid-pokemon {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 80px;
  text-align: center;
  font-size: 12px;
}
.raid-name {
  position: relative;
  min-height: 64px;
  z-index: 1;
  box-shadow: 0 0 5px 3px #fff;
  background: #fff;
}
.raid-time {
  position: relative;
  font-size: 12px;
  color: #666;
  margin-bottom: 5px;
  z-index: 1;
  box-shadow: 0 0 5px 3px #fff;
  background: #fff;
}
.raid-map-link,
.raid-directions-link {
  position: absolute;
  right: 8px;
  color: #666;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}
.raid-map-link:before,
.raid-directions-link:before {
  content:"";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  width: auto;
  height: auto;
  background: #eee;
  border-radius: 50%;
  z-index: -1;
}
.raid-map-link {
  top: 8px;
}
.raid-directions-link {
  top: 54px;
}
.raid-extra {
  display: none;
  position: relative;
  padding: 0 10px 10px 10px;
}
.raid-toggle:checked ~ .raid-extra {
  display: block;
}
.raid-toggle:checked ~ .raid-main .raid-map-link,
.raid-toggle:checked ~ .raid-main .raid-directions-link {
  color: #fff;
}
.raid-toggle:checked ~ .raid-main .raid-map-link:before,
.raid-toggle:checked ~ .raid-main .raid-directions-link:before {
  background-color: #7E57C2;
}
.raid-details {
  font-size: 12px;
  margin-bottom: 7px;
}
.raid-detail {
  margin-bottom: 2px;
}
.raider-attendance-choices {
  margin-top: 15px;
}
.raider-attendance-choices .btn {
  margin: 5px 5px 0 0;
  background: #f0f0f0;
  color: #333;
}
.raider-attendance-choices .styled-checkable-input:checked + .btn {
  background-color: #7E57C2;
  color: #fff;
}
.raider-attendance-choices .raid-attandance-cancel + .btn {
  opacity: 0;
  transition: opacity .5s ease;
}
.raider-attendance-choices .styled-checkable-input:checked ~ .raid-attandance-cancel + .btn {
  opacity: 1;
}
.raid-attendees {
  display: inline-block;
  width: auto;
  margin: 10px 10px 0 0;
  vertical-align: top;
}
.raid-attendee {
  font-size: 12px;
}
.sharing-links {
  font-size: 12px;
  opacity: .7;
}
.sharing-links div {
  margin: 10px 0 -10px 0;
}
.sharing-links a {
  display: inline-block;
  padding-top: 10px;
}
.additional-information {
  margin-top: 50px;
  font-size: 12px;
}
.gym-choices {
  margin-top: 30px;
  text-align: center;
}
.gym-choice {
  width: 96px;
  display: inline-block;
  vertical-align: top;
  margin: 7px 5px;
  padding-top: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.gym-image,
.gym-image-mask {
  position: relative;
  width: 48px;
  height: 64px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/gym-mask.png);
}
.gym-image-mask {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  width: auto;
  height: auto;
}
.gym-name {
  margin-top: 4px;
  text-align: center;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 16px;
  height: 34px;
  overflow: hidden;
}
.gym-choice-radio {
  position: absolute;
  top: -100px;
  left: -100px;
}
.gym-choice-none ~ .gym-choices .gym-choice,
.gym-choice-none ~ .gym-search-filter,
.gym-choice-none:checked ~ .raid-form {
  display: none;
}
.gym-choice-none:checked ~ .gym-choices .gym-choice,
.gym-choice-none:checked ~ .gym-search-filter {
  display: inline-block;
}
.gym-choice-none ~ .gym-choices .gym-choice-radio:checked + .gym-choice {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}
.gym-choice-radio:checked + .gym-choice .gym-image {
  width: 128px;
  height: 128px;
  margin: auto;
  border-radius: 50%;
}
.gym-choice-radio:checked + .gym-choice .gym-image-mask {
  display: none;
}
.gym-choice-radio:checked + .gym-choice .gym-name {
  font-size: 24px;
  line-height: initial;
  height: auto;
}
.gym-choice-none-label {
  margin: 10px;
}
.raid-form-submit {
  font-size: 24px;
  padding: 10px 15px;
  white-space: normal;
  border-radius: 25px;
}
.raid-form {
  text-align: center;
}
.raid-time-btn {
  margin: 5px 3px;
}
[for="raid-time-field-type-1"],
[for="raid-time-field-type-2"],
[for="raid-time-value-type-1"],
[for="raid-time-value-type-2"] {
  background-color: #bbb;
}
#raid-time-field-type-1:checked ~ div [for="raid-time-field-type-1"],
#raid-time-field-type-2:checked ~ div [for="raid-time-field-type-2"],
#raid-time-value-type-1:checked ~ div [for="raid-time-value-type-1"],
#raid-time-value-type-2:checked ~ div [for="raid-time-value-type-2"] {
  background-color: #7E57C2;
}
.raid-time-input-label {
  font-size: 24px;
}
.raid-time-field {
  width: 70px;
  text-align: center;
}
.raid-time-label-field-type-1,
.raid-time-label-field-type-2,
.raid-time-label-value-type-1,
.raid-time-label-value-type-2 {
  display: none;
}
#raid-time-field-type-1:checked ~ div .raid-time-label-field-type-1,
#raid-time-field-type-2:checked ~ div .raid-time-label-field-type-2,
#raid-time-value-type-1:checked ~ div .raid-time-label-value-type-1,
#raid-time-value-type-2:checked ~ div .raid-time-label-value-type-2 {
  display: inline;
}
.raid-boss-input-tier-group {
  display: inline-block;
  width: 74px;
  vertical-align: top;
}
.raid-boss-input-label {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 400px) {
  .raid-boss-input-label {
    width: 48px;
    height: 48px;
    margin: 2px;
  }
  .raid-boss-input-tier-group {
    width: 52px;
  }
}
.styled-checkable-input:checked + .raid-boss-input-label {
  background-color: #9575CD;
}
.raid-boss-input-label-tier-1 {
  background-image: url(../img/egg-tier-1.png);
}
.raid-boss-input-label-tier-2 {
  background-image: url(../img/egg-tier-2.png);
}
.raid-boss-input-label-tier-3 {
  background-image: url(../img/egg-tier-3.png);
}
.raid-boss-input-label-tier-4 {
  background-image: url(../img/egg-tier-4.png);
}
.raid-boss-input-label-tier-5 {
  background-image: url(../img/egg-tier-5.png);
}
