<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <title>Raidikalu &ndash; listaa raideja, jos listaa</title>
  </head>
  <body>
    <h1 style="font-family: sans-serif; color: #333;">Virhetilanne &#x1F62E;</h1>
    <p style="font-family: sans-serif; color: #333; font-size: 20px;">Sori, palvelin on pahalla päällä eikä halua näyttää tätä sivua. Laitoin asiasta viestiä ylläpidolle. Ota rauhallisesti, ja yritä hetken kuluttua uudelleen. Jos tilanne ei ratkea, yritä hieman pidemmän hetken kuluttua uudelleen. Kiitos ymmärryksestäsi.</p>
  </body>
</html>
